/boss
/cache
/libraries
/logs
/server.jar
/usercache.json
/version_history.json
/wepif.yml
/world
/world_nether
/world_the_end
/maze
/spawn

*.db
*.log
*.mca
*.dat
*.logs
*.dat_old
*.realsm
*.zip
*.sqlite
*.nbt
server.properties
.console_history
server.properties
plugins/LootChest/backups/*
server.properties
